*{
    margin: 0;
}

body{
    background-color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;
}

header{
    background-color: cadetblue;
    padding: 20px 0px;
    margin-bottom: 20px;
}

header .h1Nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    color: white;
}

header div nav ul{
    display: flex;
    flex-wrap: wrap;
}

header div nav ul li{
    padding: 0px 10px;
    list-style: none;
}

header div nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

header div nav ul li a:hover{
    color: white;
}


/*FORM*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorFormulario{
    margin-bottom: 40px;
    padding: 0px 40px;

}

.contenedorFormulario > h3{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 300px;
}

label{
    font-weight: bold;
}

input{
    margin-bottom: 10px;
    font-size: 1rem;
}

button{
    background-color: forestgreen;
    border: none;
    border-radius: 6px;
    padding: 8px 0px;
    font-size: 1rem;
    font-weight: bold;
}



/*Otras acciones*/


.fondoH2{
    margin-bottom: 10px;
}

.fondoH2 h2{
    text-align: center;
    color: black;
}

div a{
    text-decoration: none;
}

div a p{
    text-align: center;
    font-size: 1.2rem;
    color: black;
}

a :hover{
    background-color:beige;
    border-radius: 6px;
    font-weight: 700;
}